body
{
	background-color: #F0F8FF !important; /*overrides bootstrap*/
	
}


.footer
{
	text-align: center;
	background: #F0F8FF;
	top: 90%;
}
	
.v-background
{
	background: #F0F8FF;
}
.s-container
{
	padding-bottom: 5%;
}

/*home page*/
.menuButtons
{
	margin-top: 5%;
}

/*heart in Title header*/
.heart
{
	margin-top: 2%;
	width: 20%;
	float: right;
	background-color: transparent;
}

.dragPuppy img
{
	width: 100px;
	height: 100px;
	padding: 5px;
}

#dragFromDiv
{
	height: 30em;
}

.headerText
{
	margin-top: 2%;
}

 .loginInputControl
{
	height: 10em;
}

input[type="text"] .loginInput
{
	height: 40px;
}

.checkinBtn 
{
	height: 8em;
	text-align: center;
}

#checkInTxt
{
	margin-top: 50%;
}
